body{
    font-family: sans-serif;                /*change later*/
    background-color: #F8FAFC;
}
/* temporary font */

.grid-container1{
    display: grid;
    grid-template-columns: 1.5fr 10fr;
    grid-template-rows: auto auto;
    gap: 0px;
}

a{
    text-decoration: none;
    color: inherit;
}

/* .grid-item1{
    background-color: #f5f7fa;
}

.grid-item2{
    background-color: #ffffff;
} */

#navbar{
    margin-left: 20px;
}

#dashboard{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 8px rgba(0,0,0,0.1);
    margin: 20px;
    padding: 30px;
    border-radius: 20px;
}

.logo{
    height: 40px;
    width: 40px;
    margin-bottom: 20px;
    margin-right: 10px;
}

#heading{
    display: inline-block;
    padding: 0px;
    margin: 45px 0px 25px 0px;
    font-size: 1.8rem;
    font-family: "DM Serif Text", serif;                        /*Change the font properties later: size, style, color?*/
    font-weight: 400;
    font-style: normal;
}

.search-container{
    background-color: rgba(128, 128, 128, 0.121);
    border-radius: 10px;
    padding: 7px 5px 5px 10px;
    margin-bottom: 25px
}

#search-input{
    border: none;
    background-color: rgba(128, 128, 128, 0);
    width: 170px;
    height: 30px;
    padding-left: 6px;
}

ul{
    list-style-type: none;
    padding-left: 0px;
}

li {
    /* background-color: yellow; */
    margin: 5px;
    color: grey;
    padding: 5px;
    text-align: left;
}

.divider{
    border-style: solid;     
    margin: 0px;   
    margin-bottom: 7px;
    filter: blur(0.2px); /* slight blur to soften the edges */
    color: lightslategray;
}

#divider-2{
    width: calc(100% + 60px); /* compensate for left + right */
    margin: 0px -30px;
}

.flex-container1{
    display: flex;
    gap: 0px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.flex-item1{
    margin: 10px 0 10px 0;
    width: 100%;
    color: grey;
    padding-left: 10px;
}

.flex-container2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 25.5vh;
    height: 75vh;
    gap: 20px;
}

.flex-item2{
    color: grey;
    width: 100px;
    text-align: left;
    padding-left: 10px
}

#user-info {
    margin-top: 40px;
}

#profile-picture {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    float: left;
}

.login-user-info {
    text-align: left;
    padding-left: 65px;
}

#username {
    font-size: 1em;
    font-weight: 500;
    /* display: inline; */
    text-align: left;
}

#email-id {
    font-size: 0.9rem;
    text-align: left;
    color: grey;
}

.log-out-btn {
    color: crimson;
}


/* Section 2--------------------------------------- */

.flex-conatiner3{
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.flex-item3{
    width: 24%;
    height: 170px;
}

#dashboard-heading{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content:space-between;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.grey {
    color: gray;
}

#overview {
    margin-bottom: 20px;
}

#overview > h2 {
    font-size: 1.7rem;
    padding-top: 20px;
    padding-bottom: 10px
}


/*Totals column*/
.finance-info-outerbox {
    background-color: #F8FAFC;
    border-radius: 15px;
    box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.1);
}

.finance-info-innerbox {
    padding: 30px 20px 15px 20px;
    border-radius: 15px;
}

h3{
    font-size: 1em;
    color: grey;
}

.sum-total{                    /* make it bold and change font style*/
    font-size: 1.6rem;
    font-weight: bold;
}

.icon-bg {
    background-color: turquoise;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
}

#total-balance, #monthy-income, #monthly-expense, #monthly-savings{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.money-info {
    padding-left: 20px;
}

.fa-ellipsis {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
}

.monthly-compare-data{
    padding: 7px 20px 7px 20px;
}

.green{
    color: rgb(3, 189, 3);
}

.totals-icon {
    color: white;
}

.tab-headings{
    color: black;
    display: inline;
    /* font-weight: bold;  for laters, baby*/
    font-size: 1.2em;
}

#cashflow {
    width: 62.6%;
    height: fit-content;
    padding: 20px;
    box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.1);
}

.cashflow-flexbox {
    padding-bottom: 20px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-between
}

#graph-selection-bar {
    display: flex;
    gap: 10px;
    background-color: #F8FAFC;
    padding: 2px 10px;
    border-radius: 10px;
}

#graph-1 {
    background-color: #F2F9FF;
    height: 280px;
    width: 100%;
}

/* IMAGE OF GRAPH - 1 */
.cashflow-graph-img {
    width: 98%;
    height: 300px;
}

#graphs-n-bars {
    display: flex;
    gap: 20px;
}

#asset-allocations {
    width: calc(100% - 62.6%);
    padding: 20px;
    box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.1);
}

.asset-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}


#asset-allocations > p.sum-total{
    margin: 0px;
    padding: 0px;
}

/* IMAGE OF GRAPH - 2 */
.asset-graph-img {
    margin-top: 10px;
    /* height: 200px; */
    height: 50px;
    width: 100%;
}

#graph-2 {
    background-color: #F2F9FF;
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
}

.skin {
    color:bisque;
}

.pink {
    color:rgb(244, 80, 113);
}

#bills-n-payments {
    margin-top: 20px;
    box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.1);
    padding: 20px;
}

.rows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25px;
}

.asset-table-data{
    /* font-weight: bold; */ /*later go for bold*/
    font-size: 1.2em;
}

.one-em{
    font-size: 0.7em;
}

.bills-flexbox {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.table th {
    color: grey;
}

.fa-youtube {
    color: red;
    font-size: 30px;
}

.fa-spotify{
    color: rgb(55, 205, 55);
    font-size: 30px;
}

.fa-amazon{
    color: rgb(24, 22, 22);
    font-size: 30px;
}

.fa-apple{
    color: silver;
    font-size: 30px;
}

.bills-icon-box {
    background-color: rgb(239, 239, 239);
    padding: 2px;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/* navBar Highlight function from .js */
.nav-active {
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.12);
  transform: translateY(-2px);
  transition: all 0.2s ease;
  width: 100%;
}
.nav-active a {
  color: #444444; /* optional: a slightly stronger color */
  font-weight: 600;
}

